# Task (1): Titanic Survival Prediction

In [29]:
import pandas as pd 
dataset = pd.read_csv(r"C:\Users\rahim\Downloads\Titanic-Dataset.csv")
dataset
dataset.head()
#dropping irrelevant information
dataset.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)
# check for null values 
mis = dataset.isnull().sum()
print(mis)

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

now we can see the columns age cabin and embarked have missing values

In [30]:
# fill the missing values for age column 
# i am using median
dataset['Age'].fillna(dataset['Age'].median(), inplace=True)

In [31]:
dataset

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  28.0      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

sex and embarked contains categorical values

In [33]:
dataset3=pd.get_dummies(dataset, columns=['Sex', 'Embarked'], drop_first=True)
dataset3

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,1,3,26.0,0,0,7.9250,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,1,0,1
887,1,1,19.0,0,0,30.0000,0,0,1
888,0,3,28.0,1,2,23.4500,0,0,1
889,1,1,26.0,0,0,30.0000,1,0,0
890,0,3,32.0,0,0,7.7500,1,1,0

now all the categorical variables e.g. male/female , s/c are converted to 1s or 0s

## spliting dataset

since it is a survival prediction task , takign survived as the target variuable

In [34]:
rest = dataset2.drop('Survived',axis=1)
target = dataset2['Survived']
print(pd.DataFrame(rest))
print(pd.DataFrame(target))

     Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0         3  22.0      1      0   7.2500         1           0           1
1         1  38.0      1      0  71.2833         0           0           0
2         3  26.0      0      0   7.9250         0           0           1
3         1  35.0      1      0  53.1000         0           0           1
4         3  35.0      0      0   8.0500         1           0           1
..      ...   ...    ...    ...      ...       ...         ...         ...
886       2  27.0      0      0  13.0000         1           0           1
887       1  19.0      0      0  30.0000         0           0           1
888       3  28.0      1      2  23.4500         0           0           1
889       1  26.0      0      0  30.0000         1           0           0
890       3  32.0      0      0   7.7500         1           1           0

[891 rows x 8 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

# train test split

In [35]:
from sklearn.model_selection import train_test_split
xtrain , xtest, ytrain , ytest =train_test_split(rest,target , test_size=0.2, random_state=42)

since it is not mentioned which classifier to use for prediction i am using random forest classiifer

# survivial prediction using random forest Regressor

In [45]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(xtrain, ytrain)

RandomForestRegressor(random_state=42)

In [46]:
yprediction = rf.predict(xtest)
print(yprediction)

[0.08       0.18       0.205      0.99       0.32       0.87
 0.83404906 0.09       0.61425    1.         0.58       0.11
 0.         0.07       0.21983333 1.         0.37       0.9194246
 0.2        0.04       0.02       0.63266667 0.19       0.
 0.         0.15       0.1275     0.195      0.34       0.53
 0.02666667 0.74       0.81       0.8        0.30614286 0.23
 0.61       0.83404906 0.99       0.         0.03       0.21
 0.         0.12042657 0.39       0.09       0.46730952 0.
 0.28       0.4        0.85       0.98       0.02       0.64
 0.26       1.         0.265      0.71       0.83       0.5
 0.32916667 0.89666667 1.         0.18416667 0.12042657 1.
 0.08333333 0.34       0.2        0.97       0.86       0.97
 0.79       1.         0.         0.0285     0.8223824  1.
 1.         0.67       0.01       1.         1.         0.02482515
 0.38       0.36       1.         1.         0.03       0.01745238
 0.484      0.01       0.04       0.01524939 0.         0.11
 0.21       0.07       1.         0.35       0.17       0.
 1.         0.01333333 0.01       0.69       1.         0.04
 0.36       0.3075     1.         0.13       1.         0.79
 0.15416667 0.005      0.43       0.23616667 0.85       0.
 0.02       1.         1.         1.         0.04       0.435
 1.         0.44       0.16       0.         0.9394246  0.08
 0.         0.69       0.65       0.09       1.         0.48783333
 0.02       0.26       0.         1.         0.62       0.
 0.27       0.99       0.065      0.57       0.86       0.0675
 0.18571429 0.1        0.27       0.33       0.         0.01
 0.37436508 0.789557   1.         0.92       0.24083333 0.46828571
 0.15033333 1.         0.16272727 0.4        0.03       1.
 0.         0.         0.29       0.82766667 0.79       0.51
 0.1        0.         0.         0.93933333 0.65      ]

# checking the accuracy

In [47]:

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", round(mse*100,2),"%")

Mean Squared Error: 17.88 %

lower values of mse tells us that model is predciting at a better stage